---
- hosts: all
  become: yes

  vars:
    # Avoid warning message
    ansible_python_interpreter: /usr/bin/python3

  roles:
    - user_customization
    - common
    - awscli
    - network_customization

  tasks:
    # Always do this VERY last otherwise system can go unstable during other Ansible tasks
    - name: Upgrade all packages
      apt:
        upgrade: dist
        force_apt_get: yes
    - name: Remove dependencies that are no longer required
      apt:
        autoremove: yes
