- name: Remove unwanted network services
  package:
    state: absent
    name: "{{ item }}"
  loop:
    - cups
    - cups-daemon
    - cups-server-common
    - avahi-daemon
    - avahi-utils
    - libnss-mdns
    - libavahi-core7


- name: Gather the package facts
  package_facts:
    manager: auto


- name: Get network manager profile name
  ansible.builtin.shell: "nmcli --get-values NAME connection | grep netplan"
  register: nmcli_command_result
  changed_when: false  # Prevents task from reporting a change

- ansible.builtin.set_fact:
    network_connection_profile: "{{ nmcli_command_result.stdout_lines[0] | default('', true) }}"

- ansible.builtin.debug:
    var: network_connection_profile


# Only changes DNS for GUI OS installs that have network-manager
#
# Tried using Ansible's  nmcli  module but as of 2020-08-14 it still has
# bugs where it fails with Python module dependencies
# So use a workaround instead
- name: Ignore DHCP issued DNS
  command: nmcli connection modify "{{ network_connection_profile }}"  ipv4.ignore-auto-dns true
  when: "'network-manager' in ansible_facts.packages"
  tags: [ never, gui ]

- name: Set DNS via nmcli
  command: nmcli connection modify "{{ network_connection_profile }}"  ipv4.dns "{{ dns }}"
  when: "'network-manager' in ansible_facts.packages"
  tags: [ never, gui ]

- name: Apply DNS changes
  command: nmcli connection up "{{ network_connection_profile }}"
  when: "'network-manager' in ansible_facts.packages"
  tags: [ never, gui ]

- name: Show current DNS
  command: resolvectl status

