# Note that it will take a reboot to get these applied
# xfconf-query is run as become_user but going from root to become_user will not update the currently GUI session
# only the underlying xml in become_user's home directory - .config/xfce4/xfconf/xfce-perchannel-xml/

- name: Terminal font size
  xfconf:
    channel: "xfce4-terminal"
    property: "/font-name"
    value_type: "string"
    value: "DejaVu Sans Mono 24"
  become_user: "{{ username }}"

- name: Terminal allow font size to be custom
  xfconf:
    channel: "xfce4-terminal"
    property: "/font-use-system"
    value_type: "bool"
    value: "false"
  become_user: "{{ username }}"

- name: Terminal background-color
  xfconf:
    channel: "xfce4-terminal"
    property: "/color-background"
    value_type: "string"
    value: "#000000000000"
  become_user: "{{ username }}"

- name: Terminal font color
  xfconf:
    channel: "xfce4-terminal"
    property: "/color-foreground"
    value_type: "string"
    value: "#0000ffff0000"
  become_user: "{{ username }}"

- name: Remove desktop image
  xfconf:
    channel: "xfce4-desktop"
    property: "/backdrop/screen0/monitorrdp0/workspace0/image-style"
    value_type: "int"
    value: "0"
  become_user: "{{ username }}"

- name: Power Manager - Disable screen blank, sleep, switch-off
  xfconf:
    channel: "xfce4-power-manager"
    property: "/xfce4-power-manager/dpms-enabled"
    value_type: "bool"
    value: "false"
  become_user: "{{ username }}"
  
- name: Disable screensaver
  xfconf:
    channel: "xfce4-screensaver"
    property: "/saver/enabled"
    value_type: "bool"
    value: "false"
  become_user: "{{ username }}"

- name: Disable Lock Screen
  xfconf:
    channel: "xfce4-screensaver"
    property: "/lock/enabled"
    value_type: "bool"
    value: "false"
  become_user: "{{ username }}"

- name: Remove all desktop icons
  xfconf:
    channel: "xfce4-desktop"
    property: "/desktop-icons/style"
    value_type: "int"
    value: "0"
  become_user: "{{ username }}"

