- name: Install needed dependencies
  package:
    state: present
    name:
      # Used for getting user ssh key from github in user task later
      - git

- user:
    name: "{{ username }}"
    password: ""
    shell: "/bin/bash"

- authorized_key:
    user: "{{ username }}"
    state: present
    key: "https://github.com/{{ username }}.keys"

- name: "sudoers for {{ username }}"
  copy:
    dest: "/etc/sudoers.d/{{ username }}"
    owner: root
    group: root
    mode: '0400'
    content: |
      {{ username }} ALL=(ALL) NOPASSWD:ALL

- name: policy kit directory
  file:
    path: /var/lib/polkit-1/localauthority/50-local.d/
    owner: root
    group: root
    mode: 0700
    state: directory

- name: "GUI polkit permissions for {{ username }}"
  copy:
    dest: /var/lib/polkit-1/localauthority/50-local.d/disable-passwords.pkla
    owner: root
    group: root
    mode: '0400'
    content: |
      [Do anything you want]
      Identity=unix-user:{{ username }}
      Action=*
      ResultActive=yes
  tags: [ never, gui ]



