- name: Install needed dependencies
  package:
    state: present
    name:
      # Used for getting user ssh key from github in user task later
      - git

- user:
    name: rbeede
    password: ""
    shell: "/bin/bash"

- authorized_key:
    user: rbeede
    state: present
    key: https://github.com/rbeede.keys

- name: sudoers for rbeede
  copy:
    dest: /etc/sudoers.d/rbeede
    owner: root
    group: root
    mode: '0400'
    content: 'rbeede ALL=(ALL) NOPASSWD:ALL\n'

- name: policy kit directory
  file:
    path: /var/lib/polkit-1/localauthority/50-local.d/
    owner: root
    group: root
    mode: 0700
    state: directory

- name: GUI polkit permissions for rbeede
  copy:
    dest: /var/lib/polkit-1/localauthority/50-local.d/disable-passwords.pkla
    owner: root
    group: root
    mode: '0400'
    content: |
      [Do anything you want]
      Identity=unix-user:rbeede
      Action=*
      ResultActive=yes
  tags: [ never, gui ]

