# November 2025 - Default directory for profiles and cache changed to XDG standard as per https://bugzilla.mozilla.org/show_bug.cgi?id=259356#c223
# was ~/.mozilla but now under .config


- name: Ensure Firefox default profile folder exists
  ansible.builtin.command:
    cmd: firefox --headless --marionette
    creates: "/home/{{ username }}/.config/mozilla/firefox/*.default-release"
  async: 20
  poll: 0
  become_user: rbeede

- name: Wait for application to start listening on port
  ansible.builtin.wait_for:
    port: 2828
    host: 127.0.0.1
    state: started
    delay: 2
    timeout: 10

- name: Close Firefox Marionette
  ansible.builtin.command:
    cmd: bash -c echo '37:[0, 1234, "WebDriver:NewSession", {}]32:[0, 1235, "Marionette:Quit", {}]' | nc localhost 2828
    creates: "/home/{{ username }}/.config/mozilla/firefox/*.default-release"

- name: Grab Firefox config folder
  ansible.builtin.find:
    paths: "/home/rbeede/.config/mozilla/firefox"
    patterns: '.*\.default-release'
    use_regex: true
    file_type: directory
  register: firefox_config_folder_list

- name: Firefox - Turn off remember password
  ansible.builtin.copy:
    dest: "{{ firefox_config_folder_list.files[0].path }}/user.js"
    content: |
      user_pref("signon.rememberSignons", false);
    mode: '0444'
